.skills{
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills h1{
    font-size: 98px;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

.skills_container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.list-up{
    display: flex;
    
}

.list-down{
    display: flex;
}

@media screen and (max-width: 768px){
    .skills h1{
        font-size: 45px;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
    }

    .list-up{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .list-down{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}